body {
  margin: 0;
  padding: 0;
}
/* Header CSS */
.header {
  background-color: #1f2937;
  margin: 0;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  margin-left: 3rem;
}

.link-container {
  display: flex;
  justify-self: space-evenly;
}

.header-link {
  text-decoration: none;
  color: #e5e7eb;
  margin-right: 3rem;
  font-size: 18px;
}

.main-container {
  display: flex;
  align-items: center;
  margin: 3rem;
}

#header-icon {
  width: 15%;
  border-radius: 50%;
}

#hero-main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

#header-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

#btn-header {
  background-color: #3882f6;
  color: white;
  margin-bottom: 2rem;
}

/* Info CSS*/
.info-section {
  padding: 1rem;
}

.info-header {
  text-align: center;
  justify-content: space-between;
}

.info-container {
  display: flex;
}

.info-image {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.image-item {
  margin: 1rem;
  width: 100%;
}
/* Quote CSS */
.quote-section {
  background-color: #e5e7eb;
  font: 36px light italic #1f2937;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote {
  width: 30%;
}

/* .quote-author {
  display: flex;
  justify-content: end;
} */

/* CTA CSS */
.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
/* Footer CSS*/
.footer-section {
  background-color: #1f2937;
  text-align: center;
  padding: 0.5rem;
  color: white;
}
